<?xml version="1.0" encoding="utf-8"?>
<!-- IIS config for the static frontend. The host at apptwo.gorecruitai.com runs
     Microsoft-IIS/10.0 behind Plesk, so this is the equivalent of .htaccess.
     No HTTPS redirect: TLS on that hostname is currently broken, and forcing
     https would take the whole site down. Add the redirect once the cert works. -->
<configuration>
  <system.webServer>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <!-- remove first: re-adding an existing MIME map is a 500 on IIS -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
